<nav class="grey darken-3">
    <div class="top-nav">

        <a href="#!" class="brand-logo center">KadhaCenter</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="" id="mobile-demo">
            <li><a href="/kadha">Kadha</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/dashboard/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
        </ul>
    </div>
</nav>