<h3><i class="fas fa-lemon"></i> Kadha Center</h3>
<div class="section">
    <p class="lead">Want to drink Kadha, you are at correct place..order now on just one click..</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>