<div class="card">
  <h1>My Profile Info</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble">{{name}}</i></a>
  <a href="#"><i class="fa fa-gmail"></i>{{email}}</a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>